div.arrow {
    border-width: 0;
    border-color: white;
    box-shadow: 0 0 0 white !important;
    background-repeat: no-repeat;
    background-clip: padding-box !important;
    padding-top: 5%;
    background-image: url('../img/arrow.png');
    position: relative;
    transition: background-image 1s;
}

div.arrow:hover {
    background-image: url('../img/arrow_light.png');
    cursor: pointer;
}

h2 {
    margin-top: 20px;
}

h2:first-child {
    margin-top: 2px;
}

hr {
    border-top: 1px solid #8c8b8b;
    text-align: center;
}

hr:after {
    content: '§';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #f0f0f0;
    color: #8c8b8b;
    font-size: 18px;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
}

.pagination {
    margin-top: 1em;
}

.card-deck {
    padding-left: 2em;
}

/* Card styling */
div.card {
    min-width: 234px;
    max-width: 240px;
    margin-left: 13%;
    margin-bottom: 10px;
    /*box-shadow: 0px 0px 0px 0px white !important;
    border: 1px solid rgba(172, 177, 181, 0.7) !important;*/
    border-radius: 2px;
}

.card-deck:last-child {
    margin-bottom: 50px;
}

/* ! Card Styling */

#blabla {
    display: none !important;
    visibility: hidden;
}

.more {
    margin-left: 0px;
    margin-bottom: -2px;
    padding-left: 13px !important;
    padding-top: 7px !important;
    height: 30px !important;
    width: 30px !important;
    background-color: #534186 !important;
}

.options-opp {
    padding: 0px;
    list-style: none;
}

.options-opp li:hover {
    background-color: #dbdbdb;
}

.card-body > * {
    margin-bottom: 2px !important;
}

#fseemore{
    font-size: 30px;
}