html,
body {
    padding: 1%;
}

/* Left Side */

.opportunity>img {
    min-width: 250px;
    max-width: 95%;
}

/* Recommended Opportunity */

.similars > div:first-child {
    width: 100% !important;
    height: 60px;
}

.similars div:first-child>h3 {
    text-align: left;
    color: #111111;
    font-size: 20px;
    width: 100%;
    margin-bottom: 10%;
    margin-top: 10px;
    font-weight: bolder;
}

.media img{
    transition-duration: 300ms;
}

.media img:hover{
    opacity: 0.8;
    transform: scale(1.1);
}

/* Comments */

