{% extends "Web/includes/template.html" %}
{% load static %}

{% block othercss %}
    <link href="{% static 'Web/css/home.css' %}" rel="stylesheet">
{% endblock othercss %}

{% block maincontent %}
    <div class="container">
        {% for cat in datas %}
            <h2><a href="{% url 'category' cat.id_cat %}">{{ cat.title_cat }}</a></h2>
            <hr />
            <!-- Card deck -->
            <div class="card-deck">
                {% for opp in cat.opp_cat %}
                    <!-- Card -->
                    <div class="card mt-3" id="{{ opp.id_opp }}">
                        <!--Card image-->
                        <div class="view overlay img_opp">
                            <img class="card-img-top" src="{% static 'Web/img/back-sign-1.jpg' %}" alt="Card image cap" height="150">
                            <a href="{% url 'opportunity' opp.id_opp %}">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title mt-0">{{ opp.name_opp }}</h4>
                            <!--Text-->
                            <p class="card-text">{{ opp.location }} &nbsp;&nbsp; | &nbsp;&nbsp; {{ opp.mean }}</p>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            {% if is_connected %}
                                <div class="dropdown">
                                    <button class="btn btn-md more" type="button" data-toggle="dropdown">
                                        <i class="fa fa-ellipsis-h rotate-icon"></i>
                                    </button>
                                    <ul class="dropdown-menu options-opp">
                                        {% if opp.seeLater %}
                                            <li>
                                                <a onclick="removeseelater('{{ opp.id_opp }}')">Remove from see later</a>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a onclick="addseelater('{{ opp.id_opp }}')">See later</a>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <a>Pas intéressé</a>
                                        </li>
                                        <li>
                                            <a>Signaler</a>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Card -->
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="row mt-5 mb-3" id="fseemore">
        <button class="btn btn-deep-purple col-10 m-auto font-weight-bold" id="seemore" onclick="loadOthers()">
            See More
        </button>
    </div>
{% endblock maincontent %}
{% block otherjs %}
    <script type="text/javascript" src="{% static 'Web/js/home.js' %}"></script>
{% endblock otherjs %}